/bin/Debug/net5.0/Google.Apis.Auth.dll
/bin/Debug/net5.0/Google.Apis.Auth.PlatformServices.dll
/bin/Debug/net5.0/Google.Apis.Core.dll
/bin/Debug/net5.0/Google.Apis.dll
/bin/Debug/net5.0/Google.Apis.YouTube.v3.dll
/obj/Debug/net5.0/Razor/Components/PlaylistDetail.razor.g.cs
/obj/Debug/net5.0/RazorDeclaration/Components/PlaylistDetail.razor.g.cs
/obj/Debug/net5.0/Razor/Components/SongDetail.razor.g.cs
/obj/Debug/net5.0/RazorDeclaration/Components/SongDetail.razor.g.cs
