@page "/"
@attribute [Authorize]

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!_songList.Any())
{
    foreach (var song in _songList)
    {
        <SongDetail SongModel="song"></SongDetail>
    }
}
<SongDetail></SongDetail>

@code {
    private List<Song> _songList = new();
}