@page "/"
@using TuneMergR.Services
@using TuneMergR.Components
@attribute [Authorize]

@if (isLoaded)
{
    foreach (var playlist in _playlists)
    {
        <div>
            <PlaylistDetail PlaylistModel="@playlist">
            </PlaylistDetail>
        </div>
    }
}
else
{
    <div>Loading screen...</div>
}




@code {
    bool displaySongs;
    bool isLoaded;
    bool songsLoaded;
    private List<PlaylistChannelResult.Playlist> _playlists;
    
    [Inject]
    public ISongService SongService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var jsonPlaylistResult = await SongService.GetPlaylists();
        _playlists = jsonPlaylistResult.Items;
        
        if (_playlists is not null)
        {
            if (_playlists.Any())
            {
                isLoaded = true;
            }
        }
    }
}